@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
*{
  font-family:"Montserrat",sans-serif;
}
.brand{
  color:red;
  padding-bottom: 20px;

}
.fsd{
  display: flex;
  padding: 20px;
}
.carddiv{
  padding:10px ;
}
.object{
  object-fit: cover;
  width: fit-content;
}